<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <title>Клієнти</title>
</head>
<body>
    <div class="table_container">
        <table>
            <thead>
                <tr>
                    <th>Ім'я</th>
                    <th>Пошта</th>
                    <th>Номер телефону</th>
                    <th>Курс</th>
                    <th>Майстер</th>
                    <th>Модифікувати</th>
                </tr>
            </thead>
            <tbody>
                <% clients.forEach(element => { %>
                    <tr>
                       <td><%- element.name %></td>
                       <td><%- element.email %></td>
                       <td><%- element.phone %></td>
                       <td><%- element.course %></td>
                       <td><%- element.master %></td>
                       <td>
                        <a href="edit_client/<%= element._id %>"><span>Редагувати</span> </a>
                        <a href="delete_client/<%= element._id %>"><span>Видалити</span</a>
                       </td>
                    </tr>
                   <% }) %>
                   <!--СОНЯ Дальше тестовая строчка-->
            </tbody>
            
        </table>
    </div>
    <button href="/" class="btn bth-nav-menu" id="fbutton">Додати клієнта</button>
    <div class="register-box" id="showform">
        <h2>Додати</h2> <button id="close_button">x</button>
        <form action="/add_client" role="form" method="post">
            <div class="user-box">
                <input name="name"  type="text" required >
                <label>Прізвище та ім'я</label>
            </div>
            <div class="user-box">
                <input name="email"  type="email" required>
                <label>Пошта</label>
            </div>
            <div class="user-box">
                <input name="phone"  type="text" required>
                <label>Номер телефону</label>
            </div>
            <div class="user-box"></div>
            <label for="courses">Оберіть курс:</label>
                <select name="course" id="" >
                <option type="text">Макіяж</option>
                <option type="text">Макіяж для себе</option>
                <option type="text">Курс підвищення кваліфікації</option>
                </select>
                <div class="user-box"></div>
                <label for="masters">Оберіть майстера:</label>
                <select name="master" id="" >
                <option type="text">Аліна</option>
                <option type="text">Петя</option>
                <option type="text">Вася</option>
                </select>
                <button>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Зберегти
                </button>

            </div>
            

        </form>
        <script>
            const button = document.querySelector('#fbutton');
    const form = document.querySelector('.register-box');
    button.addEventListener('click',()=>{
      form.classList.add('open');
    });
    const button2 =document.querySelector('#close_button');
    button2.addEventListener('click',()=>{
      form.classList.add('close');
    });
        </script>
</body>
</html>