<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./clients-course-style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <title>Клієнти</title>
</head>

<body>
    <header>
        <div class="nav-container">
            <nav>
                <a href="/" class="makeupstudio">Pinky</a>

                <ul class="nav-menu">
                    <li><a href="/#our_services" class="links">наші послуги</a></li>
                    <li><a href="/courses" class="links">наші курси</a></li>
                    <li><a href="/comments" class="links">відгуки</a></li>
                    <li><a href="/#masters" class="links">майстри</a></li>
                    <li><a href="/#footer" class="links">контакти</a></li>
                </ul>
                <button class="nav-menu-btn ">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <a href="#" class="btn bth-nav-menu">Увійти</a>
            </nav>
            <script>
                let menuBtn = document.querySelector('.nav-menu-btn');
                let menuNav = document.querySelector('.nav-menu');
                menuBtn.addEventListener('click', function () {
                    menuBtn.classList.toggle('active');
                    menuNav.classList.toggle('open');
                })
            </script>

        </div>


    </header>
    <div class="all-content">
        <div class="table_container">
            <table class="clients_table">
                <thead>
                    <tr>
                        <th>Ім'я</th>
                        <th>Пошта</th>
                        <th>Номер телефону</th>
                        <th>Послуга</th>
                        <th>Майстер</th>
                        <th>Модифікувати</th>
                    </tr>
                </thead>
                <tbody>
                    <% clients.forEach(element=> { %>
                        <tr>
                            <td><%- element.name %></td>
                            <td><%- element.email %></td>
                            <td><%- element.phone %></td>
                            <td><%- element.course %></td>
                            <td><%- element.master %></td>
                            <td>
                                <a href="edit_client/<%= element._id %>" class="edit_button"><span>Редагувати</span>
                                </a>
                                <a href="delete_client/<%= element._id %>" class="delete_button"><span>Видалити</span</a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>

            </table>
        </div>
        <div class="container">
            <button href="/" class="btn bth-nav-menu" id="fbutton">Записатись на курс</button>
        </div>
        <div class="register-box" id="showform">
            <h2>Анкета</h2> <button id="close_button">x</button>
            <form action="/add_client" role="form" method="post">
                <div class="user-box">
                    <input name="name" type="text" required>
                    <label>Прізвище та ім'я</label>
                </div>
                <div class="user-box">
                    <input name="email" type="email" required>
                    <label>Пошта</label>
                </div>
                <div class="user-box">
                    <input name="phone" type="text" required>
                    <label>Номер телефону</label>
                </div>
                <div class="user-box"></div>
                <label for="courses">Оберіть послугу:</label>
                <select name="course" id="">
                    <option type="text">Вечірній макіяж</option>
                    <option type="text">Повсякденний макіяж</option>
                    <option type="text">Весільний макіяж</option>
                </select>
                <div class="user-box"></div>
                <label for="masters">Оберіть майстера:</label>
                <select name="master" id="">
                    <option type="text">Аманда</option>
                    <option type="text">Стефан</option>
                    <option type="text">Анна</option>
                    <option type="text">Вікторія</option>
                </select>
                <button>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Зберегти
                </button>

        </div>


        </form>
    </div>
    <script>
        const button = document.querySelector('#fbutton');
        const form = document.querySelector('.register-box');
        button.addEventListener('click', () => {
            form.classList.add('open');
        });
        const button2 = document.querySelector('#close_button');
        button2.addEventListener('click', () => {
            form.classList.add('close');
        });
    </script>
</body>

</html>