<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/clients-course-style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <title>Курси</title>
</head>

<body>
    <header>
        <div class="nav-container">
            <nav>
                <a href="/" class="makeupstudio">Pinky</a>

                <ul class="nav-menu">
                    <li><a href="/clients" class="links">Наші послуги</a></li>
                    <li><a href="/courses" class="links">наші курси</a></li>
                    <li><a href="/comments" class="links">відгуки</a></li>
                    <li><a href="/#masters" class="links">майстри</a></li>
                    <li><a href="/#footer" class="links">контакти</a></li>
                </ul>
               
                <% if (admin || user) { %>
                    <div class="container">
                        <a href="/logout" class="btn bth-nav-menu2">Вийти</a>
                    </div>
                    <% } else { %>
                        <button class="btn bth-nav-menu" id="fbutton" onclick="LogformOpen4()">Увійти</button>
                        <% } %>
                        <button class="nav-menu-btn ">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>      
            </nav>
            <script>
                let menuBtn = document.querySelector('.nav-menu-btn');
                let menuNav = document.querySelector('.nav-menu');
                menuBtn.addEventListener('click', function () {
                    menuBtn.classList.toggle('active');
                    menuNav.classList.toggle('open');
                })
            </script>

        </div>


    </header>
    <div class="all-content">
        <div class="table_container">
            <table class="clients_table table-2">
                <thead>
                    <tr>
                        <th>Назва</th>
                        <th>Майстер</th>
                        <th>Контакти</th>
                        <th>Дедлайн подачі заявки</th>
                        <% if (admin) { %>
                            <th>Модифікувати</th>
                            <% } %>
                    </tr>
                </thead>
                <tbody>
                    <% courses.forEach(element=> { %>
                        <tr>
                            <td><%- element.name %></td>
                            <td><%- element.master %></td>
                            <td><%- element.phone %></td>
                            <td><%- element.deadline.toLocaleDateString() %></td>
                            <% if (admin) { %>
                                <td>
                                    <a href="edit_course/<%= element._id %>" class="edit_button"><span>Редагувати</span>
                                    </a>
                                    <a href="delete_course/<%= element._id %>" class="delete_button"><span>Видалити
                                            </span></a>
                                </td>
                                <% } %>
                        </tr>
                        <% }) %>
                </tbody>

            </table>
        </div>
        <div class="register-box">
            <form action="/auth" role="form" method="post">
                <div class="user-box">
                    <input name="username" type="text" id="username" required>
                    <label>Логін</label>
                </div>

                <div class="user-box">
                    <input name="password" type="password" id="password" required>
                    <label>Пароль</label>
                </div>

                <button onclick="LogformClose4()">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Зберегти
                </button>
            </form>
        </div>
    </div>
    <script>
            
        function LogformOpen4() {
            const form5 = document.querySelector('.register-box');
            form5.classList.remove('close');
                form5.classList.add('open');
        
        }  function LogformClose4() {
                const form5 = document.querySelector('.register-box');
                form5.classList.remove('open');
                form5.classList.add('close');
               
            }
            </script>
    <% if (admin) { %>
        <button href="/" class="btn bth-nav-menu b2" onclick="LogformOpen2()" id="buttons">Додати курс</button></div>
        <div class="register-box box2" id="showform">
            <h2>Додати</h2> <button id="close_button" onclick="LogformClose2()">x</button>
            <form action="/add_course" role="form" method="post">
                <div class="select">
                    <select name="name" id="">
                        <option selected disabled>Оберіть курс</option>
                        <option type="text">Базовий курс</option>
                        <option type="text">Макіяж для себе</option>
                        <option type="text">Підвищення кваліфікації</option>
                    </select>
                </div>
                <div class="select">
                    <select name="master" id="">
                        <option selected disabled>Оберіть майстра</option>
                        <option type="text">Аманда</option>
                        <option type="text">Стефан</option>
                        <option type="text">Анна</option>
                        <option type="text">Вікторія</option>
                    </select>
                </div>
                <div class="user-box">
                    <input name="phone" type="text" required>
                    <label>Номер телефону</label>
                </div>
                <div class="user-box box">

                    <input name="deadline" type="date" required>
                    <label>Дедлайн</label>
                </div>
                <button>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Зберегти
                </button>

        </div>


        </form>
        </div>
        <script>
             const form5 = document.querySelector('.register-box.box2');
    function LogformOpen2() {
        const form5 = document.querySelector('.register-box.box2');
        form5.classList.remove('close');
            form5.classList.add('open');
    
    }  function LogformClose2() {
            const form5 = document.querySelector('.register-box.box2');
            form5.classList.remove('open');
            form5.classList.add('close');
           
        }
        </script>
        <% } %>

</body>

</html>